<h1>Welcome to GiBook!</h1>
<p>This is your application's homepage.</p>
<% if user_signed_in? %>
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "ログイン", new_user_session_path %>
  <%= link_to "サインアップ", new_user_registration_path %>
<% end %>
